<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/layout/head :: head"></head>
<body>
<header id="header" class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <span class="glyphicon glyphicon-menu-left glyphicon-pos"></span>
            [[#{adminname}]]
            <span class="glyphicon glyphicon-menu-right glyphicon-pos"></span>
        </div>
        <ul id="navbar-left" class="nav navbar-nav pull-left">
            <li class="dropdown">
                <a class="dropdown-toggle" th:href="@{/admin/index}">
                    <span class="glyphicon glyphicon-list-alt glyphicon-pos-2"></span>
                    <span class="name">系统信息查看</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" th:href="@{/}" target="_blank">
                    <span class="glyphicon glyphicon-home glyphicon-pos-2"></span>
                    <span class="name">网站首页</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li id="header-user" class="dropdown">
                <a class="dropdown-toggle" href="">
                    <span class="glyphicon glyphicon-user glyphicon-pos-2"></span>
                    [[${session.adminGroupname}]] [ <span class="username">[[${session.adminUname}]]</span> ]
                </a>
            </li>
            <li id="header-message" class="dropdown">
                <a class="dropdown-toggle" th:href="@{/admin/editpwd}">
                    <span class="glyphicon glyphicon-ok-circle glyphicon-pos-2"></span>
                    修改密码
                </a>
            </li>
            <li id="header-tasks" class="dropdown">
                <a class="dropdown-toggle" th:href="@{/admin/loginout}">
                    <span class="glyphicon glyphicon-remove-circle glyphicon-pos-2"></span>
                    安全退出
                </a>
            </li>
        </ul>
    </div>
</header>

<section id="page">

    <div class="sidebar" id="sidebar">
        <div class="sidebar-menu">
            <div class="divide-10"></div>
            <div id="search-bar">
                <input class="search" id="left_search" type="text" placeholder="搜索">
                <input type="hidden" id="left_hidden_url" value="/admin/function/ajaxleftlist">
                <input type="hidden" id="left_hidden_search" value="">
                <input type="hidden" id="left_hidden" value="">
                <span id="search_loader" class="glyphicon glyphicon-search search-icon"><img src="/image/loaders/16.gif" style="display: none;" /> </span>
            </div>

            <ul id="left_ajax">

                <li class="has-sub" th:each="vo:${leftList}">
                    <a href="javascript:void(0);" class="offsite" th:id="'has_'+${vo.getId()}">
                        <i class="glyphicon glyphicon-th-large"></i>
                        <span class="menu-text">[[${vo.getFname()}]]</span>
                        <span class="glyphicon glyphicon-triangle-left arrow"></span>
                    </a>
                    <ul class="sub">
                        <li th:each="vov:${vo.getClist()}">
                            <a th:href="${vov.getFuri()}">[[${vov.getFname()}]]</a>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="divide-20"></div>
        </div>
    </div>

    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div id="content" class="col-lg-12">

                    <div class="row_hander">
                        <ol class="breadcrumb backbread">
                            <span class="glyphicon glyphicon-log-out myglyphicon"></span>
                            <li class="active">[[#{adminname}]]</li>
                            <li class="active">[[${adminTitle.getTitle1()}]]</li>
                            <li class="active" th:if="${adminTitle.getTitle2()} != null">[[${adminTitle.getTitle2()}]]</li>

                        </ol>
                    </div>

                    <div class="row_main-content">

                        <div layout:fragment="content"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<footer class="bs-footer">
    Copyright © 2017-[[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]] by MyDocument <a th:href="'http://'+#{weburl}" target="_blank">[[#{weburl}]]</a>  All Rights Reserved. version [[#{version}]]
</footer>
</body>
</html>