<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/layout/head :: head"></head>
<body>

<header id="header" class="navbar">
    <div class="container-fluid">
        <div class="navbar-brand">
            <span class="glyphicon glyphicon-menu-left glyphicon-pos"></span>
            [[#{adminname}]]
            <span class="glyphicon glyphicon-menu-right glyphicon-pos"></span>
        </div>
        <ul id="navbar-left" class="nav navbar-nav pull-left">
            <li class="dropdown">
                <a class="dropdown-toggle" href="/admin/index/default.html">
                    <span class="glyphicon glyphicon-list-alt glyphicon-pos-2"></span>
                    <span class="name">系统信息查看</span>
                </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="/" target="_blank">
                    <span class="glyphicon glyphicon-home glyphicon-pos-2"></span>
                    <span class="name">网站首页</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li id="header-user" class="dropdown">
                <a class="dropdown-toggle" href="">
                    <span class="glyphicon glyphicon-user glyphicon-pos-2"></span>
                    超级管理员 [ <span class="username">张健</span> ]
                </a>
            </li>
            <li id="header-message" class="dropdown">
                <a class="dropdown-toggle" href="/admin/manager/editpwd.html">
                    <span class="glyphicon glyphicon-ok-circle glyphicon-pos-2"></span>
                    修改密码
                </a>
            </li>
            <li id="header-tasks" class="dropdown">
                <a class="dropdown-toggle" href="/admin/login/loginout.html">
                    <span class="glyphicon glyphicon-remove-circle glyphicon-pos-2"></span>
                    安全退出
                </a>
            </li>
        </ul>
    </div>
</header>

<section id="page">

    <div class="sidebar" id="sidebar">
        <div class="sidebar-menu">
            <div class="divide-10"></div>
            <div id="search-bar">
                <input class="search" id="left_search" type="text" placeholder="搜索">
                <input type="hidden" id="left_hidden_url" value="/admin/common/ajaxleft.html">
                <input type="hidden" id="left_hidden_search" value="">
                <input type="hidden" id="left_hidden" value="">
                <span id="search_loader" class="glyphicon glyphicon-search search-icon"><img src="/image/loaders/16.gif" style="display: none;" /> </span>
            </div>

            <ul id="left_ajax">

                <li class="has-sub">
                    <a href="javascript:void(0);" class="offsite" id="has_12">
                        <i class="glyphicon glyphicon-th-large"></i>
                        <span class="menu-text">系统常规功能</span>
                        <span class="glyphicon glyphicon-triangle-left arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/index/default.html">系统信息查看</a></li>
                        <li><a href="/admin/manager-record/list.html">管理员登录日志</a></li>
                        <li><a href="/admin/manager/list.html">管理员管理</a></li>
                        <li><a href="/admin/manager-group/list.html">管理员分组管理</a></li>
                        <li><a href="/admin/function/list.html">系统功能管理</a></li>
                        <li><a href="/admin/class/index.html">系统分类管理</a></li>
                    </ul>
                </li>
                <li class="has-sub">
                    <a href="javascript:void(0);" class="offsite" id="has_14">
                        <i class="glyphicon glyphicon-th-large"></i>
                        <span class="menu-text">信息系统管理</span>
                        <span class="glyphicon glyphicon-triangle-left arrow"></span>
                    </a>
                    <ul class="sub">
                        <li><a href="/admin/article/list.html">技术文章管理</a></li>
                    </ul>
                </li>

            </ul>

            <div class="divide-20"></div>
        </div>
    </div>

    <div id="main-content">
        <div class="container-fluid">
            <div class="row">
                <div id="content" class="col-lg-12">

                    <div class="row_hander">
                        <ol class="breadcrumb backbread">
                            <span class="glyphicon glyphicon-log-out myglyphicon"></span>
                            <li class="active">后台管理系统</li>
                            <li class="active">管理员管理</li>
                            <li class="active">新增</li>
                        </ol>
                    </div>

                    <div class="row_main-content">

                        <div layout:fragment="content"></div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<footer class="bs-footer">
    Copyright © 2016-2017 by MyDocument <a href="http://form1.cn" target="_blank">form1.cn</a>  All Rights Reserved. version 1.0
</footer>
</body>
</html>