<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout/main">

<div class="bs-example" layout:fragment="content">



        <div class="bs-hander">

            <a th:href="@{/admin/managerrecord/list}" type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp; 列 表 ([[${pageInfo.total}]])</a>

            <div class="col-lg-3" style="float: right; padding-right: 0px; padding-left: 8px;">
                <form id="form1_search" name="form1_search" method="get" action="">
                    <div class="input-group">
                        <input type="text" id="search" name="search" class="form-control" placeholder="管理员用户名/姓名" value="">
                        <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Go!</button>
                  </span>
                    </div>
                </form>
            </div>

        </div>

        <div class="bs-center">

            <table class="table table-bordered table-hover">
                <thead>
                <tr class="active">
                    <th width="5%">#</th>
                    <th width="10%">管理员用户名</th>
                    <th width="9%">姓名</th>
                    <th width="10%">登录IP</th>
                    <th width="7%">登录次数</th>
                    <th width="11%">使用系统</th>
                    <th width="11%">使用浏览器</th>
                    <th width="15%">登录时间</th>
                    <th width="6%">操作</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="vo:${pageInfo.list}">
                    <th scope="row">[[${vo.getId()}]]</th>
                    <td>[[${vo.getUsername()}]]</td>
                    <td>[[${vo.getUname()}]]</td>
                    <td>[[${vo.getIp()}]]</td>
                    <td>[[${vo.getFoManager().getNumber()}]]</td>
                    <td>[[${vo.getBrowser()}]]</td>
                    <td>[[${vo.getSystem()}]]</td>
                    <td th:text="${#dates.format(vo.getCtime(), 'yyyy-MM-dd hh:mm:ss')}"></td>
                    <td>
                        <a th:href="'/admin/managerrecord/delete?id='+${vo.getId()}" class="delete" >删除</a>
                    </td>
                </tr>


                </tbody>
            </table>

            <span th:utext="${pageshow}"></span>

        </div>




</div>
</html>