<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout/main">

<div class="bs-example" layout:fragment="content">


    <div class="bs-hander">

        <a th:href="@{/admin/manager/list}" type="button" class="btn btn-default active"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>&nbsp; 列 表 ([[${pageInfo.total}]])</a>
        <a th:href="@{/admin/manager/add}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp; 新 增 </a>

        <div class="col-lg-3" style="float: right; padding-right: 0px; padding-left: 8px;">
            <form id="form1_search" name="form1_search" method="get">
                <div class="input-group">
                    <input type="text" id="search" name="search" class="form-control" placeholder="用户名/姓名" th:value="${#httpServletRequest.getParameter('search')}">
                    <span class="input-group-btn">
                      <button class="btn btn-primary" type="submit">Go!</button>
                  </span>
                </div>
            </form>
        </div>

        <div class="dropdown" style="float: right;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span th:if="${selectGroupname == null}">选择分组查看</span>
                <span th:if="${selectGroupname != null}">[[${selectGroupname}]]</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation" th:each="vo:${groupList}">
                    <a role="menuitem" tabindex="-1" th:href="@{/admin/manager/list(groupId=${vo.id})}">[[${vo.gname}]]</a>
                </li>
            </ul>
        </div>

    </div>

    <div class="bs-center">

        <table class="table table-bordered table-hover">
            <thead>
            <tr class="active">
                <th width="5%">#</th>
                <th width="10%">用户名</th>
                <th width="9%">姓名</th>
                <th width="11%">用户组</th>
                <th width="6%">状态</th>
                <th width="7%">登录次数</th>
                <th width="10%">最后登录IP</th>
                <th width="15%">最后登录时间</th>
                <th width="8%">操作</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="vo:${pageInfo.list}">
                <th scope="row">[[${vo.id}]]</th>
                <td>[[${vo.username}]]</td>
                <td>[[${vo.uname}]]</td>
                <td>
                    <strong>[[${vo.groupName}]]</strong>
                </td>
                <td>
                    <span class="text-success" th:if="${vo.locking == 0}">正常</span>
                    <span class="text-danger" th:if="${vo.locking == 1}">锁定</span>
                </td>
                <td>[[${vo.number}]]</td>
                <td>[[${vo.loginIp}]]</td>
                <td>
                    <span th:if="${vo.loginTime == null}">0000-00-00 00:00:00</span>
                    <span th:text="${#dates.format(vo.loginTime, 'yyyy-MM-dd hh:mm:ss')}">[[${vo.loginTime}]]</span>
                    <span style="cursor: pointer;" class="glyphicon glyphicon-circle-arrow-right" data-toggle="tooltip" data-placement="bottom" th:title="'录入时间：'+${#dates.format(vo.ctime, 'yyyy-MM-dd hh:mm:ss')}"></span>
                </td>
                <td>
                    <a th:href="@{/admin/manager/up(id=${vo.id})}">编辑</a> |
                    <a th:href="@{/admin/manager/del(id=${vo.id})}" class="delete" th:if="${vo.id != 1}">删除</a>
                    <span class="text-muted" th:if="${vo.id == 1}">删除</span>
                </td>
            </tr>

            </tbody>
        </table>

        <span th:utext="${pageshow}" th:if="${pageInfo.list.size() > 0}"></span>

        <div class="alert alert-warning" role="alert" th:if="${pageInfo.list.size() <= 0}"><span class="glyphicon glyphicon-info-sign glyphicon-pos-2"></span> 暂无信息！</div>

    </div>



</div>
</html>